<footer>
  <small>
    This project is maintained by <a href="https://www.mattgelbman.com">Matt Gelbman</a>.
    Check out the <a href="{{ pkg.repository.url }}">Github repo</a>.
  </small>
</footer>
